.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__image {
  margin-right: 20px;
  border-radius: 10px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.profile__name {
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  line-height: 1;
  width: 420px;
  margin: 0 0 12px;
}

.profile__description {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
}

.profile__button_edit-profile {
  margin-top: auto;
  width: 120px;
  height: 16px;
  border-style: none;
  background-color: transparent;
  opacity: 70%;
}

.profile__button_new-post {
  margin: auto 0 0 auto;
  border-style: none;
  background-color: transparent;
  width: 149px;
  height: 52px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  border-radius: 10px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    height: 274px;
    align-items: center;
    text-align: center;
    padding: 20px 0 0;
  }
  .profile__image {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }
  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
  }
  .profile__description {
    margin-bottom: 32px;
  }
  .profile__button_edit-profile {
    margin-bottom: 20px;
    width: auto;
    font-size: 20px;
  }
  .profile__button_new-post {
    width: 288px;
    height: 52px;
    margin: 0;
    padding: 0;
  }
}
